.product {

  
  position: relative; 
  background-color: #fff;
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 300px; /* Adjust the width as needed */
  margin: 16px;
  padding: 16px;
  text-align: center;
  font-family: 'Arial', sans-serif; /* This is a placeholder, use the appropriate font-family */
}
.product-tagline {
  color: white;
  background-color: red; /* Adjust the background color as needed */
  position: relative;
  top: -40px;
  right: 0;
  padding: 5px 60px;
  transform: translate(50%, -50%) rotate(45deg);
  transform-origin: top right;
  font-size: 0.9em;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
border-top-left-radius: 10px;
border-top-right-radius: 10px;
}
.product img.product-image {
  max-width: 100%;
  height: 200px;
  border-radius: 10px;
}

.product h3 {
  margin-top: 8px;
  color: #333;
  font-size: 1.2em; /* Adjust font-size as needed */
}

.product p {
  color: #666;
  font-size: 1em;
}

button {
  background-color: #ff6868; /* Adjust button color as needed */
  color: white;
  border: none;
  padding: 10px 20px;
  margin-top: 8px;
  cursor: pointer;
  font-size: 1em;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #ff5252; /* Adjust for hover state */
}

  
  .products {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
    padding: 20px;
  }
  
  
  .product:hover {
    transform: scale(1.05);
  }
    
   
    